# .gitignore
# Ignore virtual environment folder
venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and database files
*.log
*.sqlite3
*.db

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Environment variables
.env
# top-level folders
/node_modules/
/OutPut/
/UserImages/
/build/
/sessions/
/Design/
